body {
    background-image: url(../Assets/Images/email-pattern/email-pattern.png);
}


/* Everything to do with the nav bar */

#headerBar {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 2px solid #cccccc;
}

#headerNameBox {
    height: 98px;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 30px;
}

#headerNameText {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#linkSection {
    text-align: center;
    margin-top: 37px;
    height: 100%;
}
#aboutLink {
    height: 25px;
    font-size: 17px;
    color: rgb(170, 170, 170);
    border-right: 2px solid #ececec;
}
#portfolioLink {
    height: 25px;
    font-size: 17px;
    color: rgb(170, 170, 170);
    border-right: 2px solid #ececec;
}
#contactLink {
    height: 25px;
    font-size: 17px;
    color: rgb(170, 170, 170);
}


/* Everything to do with the page content box */

#pageContentBox {
    margin-top: 30px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

    /* Header */
    #pageContentBox-header {
        height: 100px;
        border-bottom: 3px solid #dddddd;
        margin-bottom: 30px;
    }
    #pageContentBox-titleText {
        margin-top: 35px;
        color: #4aaaa5;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-size: 30px;
    }


    /* box content (FOR ABOUT ME) */
    #profilePic {
        height: 300px;
        width: 220px;
        float: left;
    }

    #pageContentBox-content {

    }



/* MEDIA QUERIES */


/* large screens */
@media screen and (max-width: 1200px) {
    #headerBar {
        padding-left: 50px;
        padding-right: 50px;
    }
    #pageContentBox {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* medium screens */
@media screen and (max-width: 992px) {
    #headerBar {
        padding-left: 20px;
        padding-right: 20px;
    }
    #pageContentBox {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* small Screen */
@media screen and (max-width: 768px) {
    #headerBar {
        height: 140px;
        padding: 0;
    }
    #headerNameBox {
        height: 80px;
        padding-top:25px;
    }
    #linkSection {
        margin-top: 15px;
    }
    #pageContentBox {
        margin: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    #profilePic {
        height: 400px;
        width: 300px;
        margin-bottom: 20px;
    }
}